<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Lista de los pokemon</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding (ngModelChange) = "loadPokes()" *ngFor="let poke of pokes" >
      <ion-item class="item" [routerLink]="['/', 'lista', poke.nombre]">
        <img [src]="poke.img">
        <p>{{ poke.nombre }}</p>
        <p slot="end">{{ poke.porcentaje }}%</p>
      </ion-item>
      <ion-item-options slite="end">
        <ion-item-option color="danger" (click)="deletePoke(poke)">Borrar</ion-item-option>
        <ion-item-option color="secondary" (click)="aniadirEquipo(poke)">Añadir a mi equipo</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
