<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pokemons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngSwitchCase="'pokes'">
    <ion-item>
      <ion-label position="stacked">¿Cual es el nombre del pokemon?</ion-label>
      <ion-input [(ngModel)]="pokemon.name" placeholder="Nombre pokemon"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">¿Cual el primer tipo del pokemon?</ion-label>
      <ion-input [(ngModel)]="pokemon.tipo1" placeholder="Tipo 1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">¿Cual el segundo tipo del pokemon?</ion-label>
      <ion-input [(ngModel)]="pokemon.tipo2" placeholder="Tipo 2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">¿Cual es su porcentaje? (escribe solo el numero)</ion-label>
      <ion-input [(ngModel)]="pokemon.porcentaje" placeholder="Porcentaje"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">La URL de la imagen</ion-label>
      <ion-input [(ngModel)]="pokemon.img" placeholder="https://..."></ion-input>
    </ion-item>

    <ion-list>
      <ion-item button *ngFor="let poke of pokemons" [routerLink]="['/', 'pokemons', poke.id]">
        <ion-avatar slot="start">
          <img [src]="poke.img"
        </ion-avatar>

        <ion-label>
          <h2>{{ poke.name }}</h2>
          <p>{{ poke.tipo1 }}</p>
          <p>{{ poke.tipo2 }}</p>
          <p>{{ poke.porcentaje }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
