<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Formulario para introducir un nuevo Pokemon</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">¿Cual es el nombre del pokemon?</ion-label>
    <ion-input [(ngModel)]="poke.nombre" placeholder="Nombre pokemon"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">¿Cual el primer tipo del pokemon?</ion-label>
    <ion-input [(ngModel)]="poke.tipo1" placeholder="Tipo 1"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">¿Cual el segundo tipo del pokemon?</ion-label>
    <ion-input [(ngModel)]="poke.tipo2" placeholder="Tipo 2"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">¿Cual es su porcentaje? (escribe solo el numero)</ion-label>
    <ion-input [(ngModel)]="poke.porcentaje" placeholder="Porcentaje"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">La URL de la imagen</ion-label>
    <ion-input [(ngModel)]="poke.img" placeholder="https://..."></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="addPoke()">Añade el nuevo pokemon</ion-button>
</ion-content>
