
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Página Principal</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="dark" class="info">

    <img class="imagen" src="../../assets/img/logo.jpg">

    <ion-card-title>Nuestra aplicación</ion-card-title>

    <ion-card-content>
      <p>·En esta app puede ver los Pokemon más utilizados en competitivo juntos con sus estadisticas.</p>
      <p>·Si pulsas cualquier Pokemon de la lista obtendras toda su información (nombre, tipos, estadisticas y porcentaje de uso).</p>
      <p>·Podras añadir nuevos Pokemon si tienes la información descrita anteriormente.</p>
      <p>·Puedes añadir el pokemon que quieras a tu equipo.</p>
      <p>·En la pagina About puedes obtener información de los creadores de la app, tambien puedes contactarnos</p>
    </ion-card-content>

    
  </ion-card>

</ion-content> 
