<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Informacion sobre nosotros</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">

    <img src="../../assets/img/david.jpeg">

    <div class="info">
      <ion-card-title>David</ion-card-title>

      <ion-card-content>
        <p>·GitHub: <a href="https://github.com/DavidGmezHdez">DavidGmezHdez</a></p>
        <p>·Twitter: <a href="https://twitter.com/DavidGHps3">DavidGHps3</a></p>
        <p>·Instagram: <a href="https://www.instagram.com/davidgomezhz_/">davidgomezhz_</a></p>
      </ion-card-content>

    </div>    
  </ion-card>
  <ion-card color="dark">
    
    <img src="../../assets/img/chema.jpeg">
    
    <div class="info">
      <ion-card-title>Chema</ion-card-title>

    <ion-card-content>
      <p>·GitHub: <a href="https://github.com/Chemita1728">Chemita1728</a></p>
      <p>·Twitter: <a href="https://twitter.com/chemiita1728">chemiita1728</a></p>
      <p>·Instagram: <a href="https://www.instagram.com/chemiita1728/">chemiita1728</a></p>
    </ion-card-content>

    </div>
    
    
  </ion-card>
</ion-content>
