
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/img/icono.png">

  <div class ="registro">

    <ion-item class="introducir">
      <ion-label position ="floating">Introduce el Nick</ion-label>
      <ion-input type="text" [(ngModel)]="usu.nick"></ion-input>
    </ion-item>
  
    <ion-item class="introducir">
      <ion-label position ="floating">Introduce el email</ion-label>
      <ion-input type="text" [(ngModel)]="usu.email"></ion-input>
    </ion-item>
  
    <ion-item class="introducir">  
      <ion-label position ="floating">Introduce la contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usu.pass"></ion-input>
    </ion-item>
  
    <ion-button color="warning" shape="round" size="small" expand="block" class="boton1" routerLink="/login" (click)="register()">Registrarse</ion-button>
  
  </div>

  <ion-footer class="footer">
    <ion-label class="texto">Ya estas registrado</ion-label>
    <ion-button color="warning" shape="round" size="small" expand="block"class="boton2" routerLink="/login">Volver al LogIn</ion-button>
  </ion-footer>

  </ion-content> 
