*{
    font-size: 3vh;;
}
#nombrePoke{
    text-align: center;
    font-size: 5vh;
}

.formaTipos{
    text-align: center;
}
.tipos{
    width: 40%;
    margin: auto; 
}

.tipo{  
    margin-right: 10px;
    border-radius: 20px;
    background: black;
    color: white;
    padding: 5px 35px;
}

.sprites{
    text-align: center;
    width:70%;
    margin: auto;
    border-radius: 20%;
    background: rgb(135, 135, 135); 
    color:white; 
    padding-top: 2vh; 
    padding-bottom: 2vh; 
    margin-bottom: 2vh;   
}

.sprites img{
    height: 20vw;
    filter: drop-shadow(0px 3px 3px black);
}

.stats{
    text-align: center;
    width: 50%;
    float: left;
    background: rgb(135, 135, 135); 
    border-top-left-radius: 20%; 
}

.habilidades{
    text-align: center;
    width: 50%;
    float: right;
    background: rgb(135, 135, 135);
    border-top-right-radius: 20%;
}

#titulo{
    color: white;
}

@media(max-width:800px){
    .sprites{
        width: 100%;
        border-radius: 0px;
    }
    .sprites img{
        height: 30vw;
    }
    .stats{
        width: 100%;
        border-top-left-radius: 0px; 
    }
    .habilidades{
        margin-top: 2vh;
        width: 100%;
        border-top-right-radius: 0px;
    }
    .tipos{
        width: 60%;
    }
    
}

