
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="../../assets/img/icono.png">

  <div class ="log">

    <ion-item class="introducir">
      <ion-label position ="floating">Introduce el email</ion-label>
      <ion-input type="text" [(ngModel)]="usu.email"></ion-input>
    </ion-item>
  
    <ion-item class="introducir">  
      <ion-label position ="floating">Introduce la contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usu.pass"></ion-input>
    </ion-item>
    <!--<ion-button color="warning" shape="round" size="small" expand="block" class="boton1" routerLink='/home' (click)="login()">Iniciar Sesión</ion-button>-->
    <ion-button color="warning" shape="round" size="small" expand="block" class="boton1" routerLink='/lista' (click)="login()">Iniciar Sesión</ion-button>
  </div>

  <ion-footer class="footer">
      <ion-label class="texto">¿Eres nuevo? Registrate</ion-label>
      <ion-button color="warning" shape="round" size="small" expand="block"class="boton2" routerLink="/register">Registrarse</ion-button>
  </ion-footer>
 
  

</ion-content> 
