img{
    position:absolute;
    height: 15vh;
    margin: auto;
    top:5vh;
    left:calc(50% - 7.5vh);
}

.log{    

    width: 80%;
    padding-top: 25vh;
    margin: auto;
}

.introducir{
    font-size: 3vh;
}

.boton1{
    margin-top: 20px;
    font-size: 3vh;
}

.footer{
    padding-top: 20vh;
    width:80%;
    margin: auto;
    bottom: 0;

}

.footer{
    text-align: center;
    font-size: 3vh;
}
.boton2{
    font-size: 3vh;
}
